div = division = 區塊元素
<div style="border:solid">
    <h1>第一大標題</h1>
    <h2>第二大標題</h2>
    ...
    <h6>最小標題</h6>
</div>
<br />

<div style="border:solid">
    div 阿公
    <div style="border:solid">
        div 爸爸
        <div style="border:solid">
            div 兒子
        </div>
    </div>
</div>
<br />

<div style="border: solid">
    <p>文章段落一</p>
    <p>文章段落二</p>
    <p>文章段落三</p>
</div>
<br />

<div style="border: solid">
    <table>
        <tr> @*tr = table row，表格列*@
            <th>表頭 1 </th> @*th = table header，欄位表頭*@
            <th>表頭 2 </th>
            <th>表頭 3 </th>
        </tr>
        <tr>
            <td>資料格 1 - 1 </td>  @*td = table data，資料欄位（格）*@
            <td>資料格 1 - 2 </td>
            <td>資料格 1 - 3 </td>
        </tr>
        <tr>
            <td>資料格 2 - 1 </td>
            <td>資料格 2 - 2 </td>
            <td>資料格 2 - 3 </td>
        </tr>
        <tr>
            <td>資料格 3 - 1 </td>
            <td>資料格 3 - 2 </td>
            <td>資料格 3 - 3 </td>
        </tr>
    </table>
</div>
<br />

span 也是區塊元素，但是可以水平排列
<span style="border: solid">區塊1</span>
<span  style="border: solid">區塊2</span>
<br />

<div style="border: solid">
    無序清單
    <ul>
        <li>清單項目 1</li>
        <li>清單項目 2</li>
        <li>清單項目 3</li>
    </ul>
    有序清單
    <ol>
        <li>清單項目 1</li>
        <li>清單項目 2</li>
        <li>清單項目 3</li>
    </ol>
</div>

<a href="https://www.google.com">超連結文字</a>@*href = hyper link reference，超連結網址*@
<br />@*line BReak，換行*@
<img src="~/img/IMG_0872.JPG" />@*src = source，圖片來源；波浪斜線（~/）代表 wwwroot 資料夾*@